@{
    ViewBag.Title = "Home Page";
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <canvas id="myCanvas" width="500" height="500">
                Fallback
            </canvas>
            <img id="image1" src="~/Images/orderedList0.png" />
        </div>
    </section>
}

Jox!

@section scripts
{
    <script src="~/js/DrawStuff.js"></script>
}

