@{
    ViewBag.Title = "Kinect";
}

<h2>Kinect</h2>
<div id="message"></div>
<div id="container"></div>
<script type="text/javascript">

    var gridSize = 30;
    var boardWidth = 15;
    var boardHeight = 15;

    function getGridPos(a) {
        var mod = a % gridSize;
        var div = a / gridSize;
        var grid = div - (mod / gridSize);
        return grid;
    }

    function getTop(gridPos) {
        return gridPos * gridSize;
    }

    var stage = new Kinetic.Stage({
        container: 'container',
        width: boardWidth * gridSize,
        height: boardHeight * gridSize
    });

    var layer = new Kinetic.Layer();
    
    var rect = new Kinetic.Rect({
        width: gridSize,
        height: gridSize,
        fill: '#EEEEEE',
        stroke: 'black',
        strokeWidth: 2
    });

    var text = new Kinetic.Text({
        text: 'Q',
        fontFamily: 'Calibri',
        fontSize: 30,
        aling: 'center',
        x: 5,
        y: 0,
        fill: 'black'
    });

    var group = new Kinetic.Group({
        x: 100,
        y: 120,
        draggable: true
    });

    group.add(rect);
    group.add(text);

    group.on('mouseover', function () {
        mess("Mouse over!");
    });

    group.on('mouseout', function () {
        mess("Mouse out!");
    });

    group.on('dragend', function () {
        mess("Stopped drag group");
        var pos = stage.getUserPosition();
        group.transitionTo({
            x: getTop(getGridPos(pos.x)),
            y: getTop(getGridPos(pos.y)),
            duration: 0.1
        });
        group.setZIndex(2);
        layer.draw();
    });

    function mess(txt) {
        $('#message').text(txt);
    }

    var gridLayer = new Kinetic.Layer();
    var boardSizeX = boardWidth * gridSize;
    var boardSizeY = boardHeight * gridSize;
    for (xline = 0; xline <= boardWidth * gridSize; xline += gridSize) {
        var line = new Kinetic.Line({
            points:[0,xline,boardSizeY,xline],
            stroke: '#999999',
            strokeWidth: 1,
            height: boardHeight * gridSize
        });
        gridLayer.add(line);
        line = new Kinetic.Line({
            points:[xline,0,xline,boardSizeX],
            stroke: '#999999',
            strokeWidth: 1,
            height: boardHeight * gridSize
        });
        gridLayer.add(line);
    }
    gridLayer.draw();

    layer.add(group);
    stage.add(gridLayer);
    stage.add(layer);
</script>
